<!DOCTYPE html>
<html>
  <head>
    <title>Review sentiment</title>
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
  </head>
  <body>
    <div class="box" style="margin: 10%">
      <h1 class="title">Review sentiment</h1>
      <div class="columns">
        <div class="column">
          <form action="/run" method="POST">
            <div class="field">
              <label class="label">Review</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  name="review"
                  placeholder="Put your review here..."
                />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-link" type="submit">Analyze</button>
              </div>
            </div>
          </form>
        </div>
        <div class="column">
          {% block content %} 
          <label class="label">Result: </label> 
            <div class="{{tag}}">{{ result }}</div>
          {% endblock content %}
        </div>
      </div>
    </div>
  </body>
</html>
